<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap:4.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap:4.5 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

     <!-- Custom CSS -->
     <link rel="stylesheet" type="text/css" href="/style.css">
     
     

     <!--ICONS-->
     <script src="https://use.fontawesome.com/b9f3d50b9e.js"></script>


     <style>
       .button {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #7aa8b7;
        border-radius: 6px;
        outline: none;
      }
     </style>


    

    <title>EVENT MUSIC</title>
</head>
<body>
  <%- include('./partials/navbar') -%>

    <!--END OF HEADER-->
    <!--BODY-->

    <section class="container bod" style="margin-top: 100px;">
      <br>
      <br>
      <br>
      <br>
        <section>  
          <h1 id="forthehead">ARIJIT SINGH Concert</h1>
          <hr>
        </section>

        <section class="container">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://res.cloudinary.com/dwzmsvp7f/image/fetch/q_75,f_auto,w_800/https%3A%2F%2Fmedia.insider.in%2Fimage%2Fupload%2Fc_crop%2Cg_custom%2Fv1578372949%2Fikjnhw2uhsr3ntyrtzkp.jpg" alt="taxi" style="width:70%;" class="trial">
      </div>

      <div class="item">
        <img src="https://www.curtisculwellcenter.com/sites/default/files/2018-12/FB%201.jpg" alt="varanasi" style="width:60%;" class="trial">
      </div>
    
      <div class="item">
        <img src="https://bollyspice.com/wp-content/uploads/2015/06/15jun_ArjitConcertLondon21.jpg" alt="varanasi" style="width:70%;" class="trial">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

           <!-- <img class="eventPic" src="https://images.unsplash.com/photo-1560932684-8f7cbcaf5751?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"> -->
           <hr>
        </section>
    
        <section>
          <div id="fordetails">DETAILS</div>
          <hr>
          <div id="fortheblock">
            
           <p><span>

         More tickets added on popular demand, get them before they run out!</span>
       </p>
       <p>

          Start off 2020 with a big bang in Mumbai. Arijit Singh, the voice of every love story and heartbreak is set to perform in Mumbai for one night only. From ‘Tum Hi Ho’ to ‘Ve Maahi’, we’ve pretty much grown up with this iconic singer. Catch Arijit Singh at this real special concert with your special ones!
        </p>
        <p><span>

Here's why you shouldn't miss this concert:</span></p>
<p>

- A premium experience like never before</p>>
<p>

- Arijit's only concert in Mumbai for the year
              

            </p>
            <p><span>Venue</span></p>
            <p>JioWorld Garden, BKC, Mumbai<br>
Plot No: RG1A, G Block, Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400051
            </p>
            <p><span>
              Concert Ticket: Rs. 3000 (not inclusive of taxes)
              </span>
            </p>
            

            <a class="button"href="https://www.google.com/maps/place/19%C2%B003'43.8%22N+72%C2%B051'46.1%22E/@19.0621645,72.8606274,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d19.0621645!4d72.8628161">GET DIRECTIONS</a>
            <br>
            <br>
            <br>


          </div>
          <hr>
        </section>

        <section>
         <a href="/forms"> <button type="button" class="btn btn-warning btn-lg">REGISTER NOW</button></a>
        </section>




    <!--END OF BODY-->
    <!--FOOTER-->
    <footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="tcs" class="col-sm-4">
              <span>T/C's</span><br>
              <p class="ft">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic similique voluptatum facilis, facere suscipit natus veritatis ad blanditiis, placeat sunt iste rerum ducimus? Assumenda necessitatibus nam totam laudantium architecto! Dolorum?</p>
              <hr class="visible-xs">
            </section>
            <section id="mobile" class="col-sm-4">
              <span>CONTACT</span><br>
              MOBILE NOS:<br>
              <p class="ft">999999999</p>
              <p class="ft">999999999</p>
              <p class="ft">999999999</p>
              <hr class="visible-xs">
            </section>
            <section id="email" class="col-sm-4"> 
              <p>EMAIL ID:</p>
              <a href="https://accounts.google.com/ServiceLogin/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=AddSession" target="_blank">eunoia.cestlavie@gmail.com</a>
              <hr class="visible-xs">
            </section>
          </div>
          <div class="text-center pb-3">&copy; Copyright EUNIOA</div>
        </div>
      </footer>
    
    <!--END OF FOOTER-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/header.js"></script>
    <script src="/body.js" type="text/javascript"></script>
</body>
</html>