*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(logof2f.png);
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
    margin-top: 40px;
    background-repeat: repeat;
}

.regform{
	width: 800px;
	background-color: rgb(0, 0, 0, 0.6);
	margin: auto;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0px 0px;
}

.main{
	background-color: rgb(0,0,0,0.2);
	width: 800px;
	margin: auto;
}

form{
    padding: 10px;
    
}

#name{
	width: 100%;
	height: 100px;
}

.name{
	margin-left: 25px;
	margin-top: 30px;
	width: 125px;
	color: white;
	font-size: 18px;
	font-weight: 700px;
}

.firstname{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
}

.lastname{
	position: relative;
	left: 417px;
	top: -80px;
	line-height: 40px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
}

.firstlabel{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 14px;
	left: 203px;
	top: -45px;
}

.lastlabel{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 14px;
	left:172px;
	top: -45px;
}

.email {
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 480px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
}

.code{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 95px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
}

.number{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 255px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
}

.area-code{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 16px;
	left: 54px;
	top: -2px;
}

.phone-number{
	position: relative;
	color: #E5E5E5;
	text-transform: capitalize;
	font-size: 16px;
	left: -104px;
	top: -2px;
}

.image{
	position: relative;
	left: 200px;
	top: -37px;
	font-size: 18px;
}

.option1{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 532px;
	height: 40px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
	outline: none;
	overflow: hidden;
}

.option1 option{
	font-size: 20px;
}

.tickets{
	position: relative;
	left: 200px;
	top: -37px;
	line-height: 40px;
	width: 48px;
	border-radius: 6px;
	padding: 0px 22px;
	font-size: 16px;
	color: #555;
}

button{
	background-color: #3BAF9F;
	display: block;
	margin: 20px 0px 0px 20px;
	text-align: center;
	border-radius: 12px;
	border: 2px solid #366473;
	padding: 14px 110px;
	outline: none;
	color: white;
	cursor: pointer;
	transition: 0.25px;
	position: relative;
	left: 250px;
	top: 10px;
}

button:hover{
	background-color: #5390F5;
}

.name:hover {
    color: goldenrod;
}

span:hover {
    background-image: linear-gradient(to right, cyan ,white);
    color: black;
}