#mainNavbar{
    font-family: 'Raleway', sans-serif;
    color:  #ffffff;
    border-bottom: 2px solid rgba(250, 236, 38) ;
    background: rgba(00, 00, 00,0.85);
  }
  
  body{
      background-image: url(https://images.unsplash.com/photo-1532292060982-8bfb986808e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60);
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      margin-top: 100px;
  }
  
  h1{
      font-weight: bold;
  }
  table{
      width: 400px;
      border-radius: 20px;
  }
  
  th{
      text-align: right;
  }
  
  td{
      text-align: center;
  }
  
  table, th, td{
      border: 2px solid black;
      border-collapse: collapse;
      
  }
  
  th, td{
      padding: 10px;
      background-color: #ddd;
  }
  
  
  button.edit{
      background-color: #000000;
      opacity: 0.6;
      font-size: 15px;
      display: block;
      margin: 20px 0px 0px 20px;
      text-align: center;
      border-radius: 12px;
      border: 2px solid #366473;
      padding: 14px 110px;
      outline: none;
      color: white;
      cursor: pointer;
      transition: 0.25px;
      position: relative;
      left: 375px;
      top: 10px;
  }
  
  button:hover{
      background-color: black;
  }
  
  .name:hover {
      color: goldenrod;
  }
  
  span:hover {
      background-image: linear-gradient(to right, cyan ,white);
      color: black;
  }
  
  button.submit{
      background-color: #000000;
      opacity: 0.6;
      font-size: 15px;
      display: block;
      margin: 20px 0px 0px 20px;
      text-align: center;
      border-radius: 12px;
      border: 2px solid #366473;
      padding: 14px 110px;
      outline: none;
      color: white;
      cursor: pointer;
      transition: 0.25px;
      position: relative;
      left: 650px;
      top: -64px;
  }
  
  button:hover{
      background-color: #000000;
      opacity: 1;
  }
  
  .name:hover {
      color: goldenrod;
  }
  
  span:hover {
      background-image: linear-gradient(to right, cyan ,white);
      color: black;
  }